<h1>Task</h1>

<h2>tasks</h2>
<% @tasks.each do |task| %>
  <%= task.title %>
  <%= link_to '編集', edit_task_path(task) %>
  <%= link_to '削除', task_path(task), method: :delete %>
  
<% end %>

<%= link_to 'add', new_task_path %>