<div class="container">
 <h1 class="text">タイトル</h1>
 <h2 class="text">説明文</h2>
 <div class="row login">
   <div class="col-md-offset-4 col-md-4">
    <%= link_to 'Log in', login_path, class: 'btn' %>
   </div>
  </div>
 <div class="row signup">
   <div class="col-md-offset-4 col-md-4">
    <%= link_to 'Sign up', new_user_path, class: 'btn' %>
   </div>
  </div>
</div>