<div class="container">
 <div class="col-md-offset-4 col-md-4">
  <h1 class="text">やることリスト</h1>
  <h2 class="text">毎日やることを決めよう</h2>
 </div>
 <div class="row login">
   <div class="col-md-offset-4 col-md-4">
    <%= link_to 'Log in', login_path, class: 'btn' %>
   </div>
  </div>
 <div class="row signup">
   <div class="col-md-offset-4 col-md-4">
    <%= link_to 'Sign up', new_user_path, class: 'btn' %>
   </div>
  </div>
</div>